@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111111;
}

.container {
  width: 85%;
  height: inherit;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid hsl(330, 100%, 71%);
}

header .container .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
}

#logo{
  height: 100px;
  width: 100px;
}

header .container .navbar .logo .logo-link {
  text-decoration: none;
}

header .container .navbar .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: inherit;
}

header .container .navbar .nav-list .nav-item {
  font-size: 24px;
  padding: 20px;
  cursor: pointer;
}

header .container .navbar .nav-list .nav-item:hover {
  border-bottom: 4px solid hsl(84, 100%, 59%);
  box-shadow: -2px -2px 4px 5px hsla(84, 94%, 58%, 0.679);
  border-radius: 4px;
}

header .container .navbar .search input {
  width: 250px;
  height: 75px;
  border: 2px solid hsl(84, 100%, 59%);
  padding: 10px;
  border-radius: 8px;
  font: 24px sans-serif;
}

header .container .navbar .search input:focus-visible {
  border: none;
}


/* start footer style */

footer{
  height: 80px;
  width: 100%;
  border-top: 2px solid black;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

#logo-footer{
  height: 100%;
  width: 120px;
}
.foot-desc{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}