@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  height: 100%;
  position: relative;
  background-image: url('./pattern_bg.png');
  background-repeat: repeat;
}

header {
  height: 65px;
  background-color: #000;
  margin-bottom: 25px;
  top: 0;
  z-index: 99;
  width: 100%;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

#logo {
  height: 55px;
  width: 100px;
  display: flex;
}

.logo {
  display: flex;
  gap: 2px;
}

.logo-title {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.logo-title span {
  color: #ffe400;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 35px;
}

header .navbar .logo .logo-link {
  text-decoration: none;
  height: 100%;
}

header .navbar .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: auto;
}

.nav-item-link {
  font-size: 16px;
  padding-top: 50px;
  cursor: pointer;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  transition: 0.3s;
  user-select: none;
}

.nav-item-link:hover {
  color: #ffe400;
}

.nav-item-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #ffe400;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.nav-item-link:hover::before {
  width: 100%;
}

.search input {
  padding: 10px;
  border-radius: 8px;
  background-color: #111;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: 2px solid #111;
  color: white;
}

.search input::placeholder {
  color: white;
}

header .container .navbar .search input:focus-visible {
  border: 1px solid #ffe400;
  outline: 1px solid #ffe400;
}

/* main style start */

main {
  width: 100%;
  height: auto;
  padding: 100px 0;
}

.movie-container {
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.card {
  height: 400px;
  width: 220px;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  transition: 0.3s;
}

.card:hover {
  box-shadow: rgba(250, 253, 47, 0.35) 5px 20px 30px;
}

#play {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.card-image-container {
  height: 70%;
  width: 100%;
  position: relative;
}

.card-image {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: 0.3s;
}

.card-image-container:hover #play {
  display: block;
}

.card-image:hover {
  opacity: 0.4;
}

.card-content {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  background-color: #111;
  border: 0.1px solid #2b2a27;
}

.card-button {
  height: 10%;
  width: 100%;
  background-color: #ffe400;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
  cursor: pointer;
  font-size: 17px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-button:hover {
  color: black;
  background-color: white;
  border: 0.4px solid #ffe400;
}

.movie-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.3s;
  color: white;
  width: 50%;
}

.movie-title:hover {
  color: #ffe400;
}

.like-stat {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.3s;
  color: white;
}

.like-stat:hover {
  color: #ffe400;
}

.heart-btn {
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 7px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.heart-btn:hover {
  background-color: #ffe400;
}

.fa-heart {
  color: red;
}

/* Popup */
.popUp {
  display: none;
}

.popup-blur {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  padding: 2rem 2rem;
  overflow-y: auto;
  color: #fff;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.93);
}

.popup-countainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  gap: 4px;
  background: #22323d;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
}

.comment-img {
  margin: 1% 0;
  height: 300px;
  width: 400px;
}

.fa-close {
  font-size: 30px;
  align-self: flex-end;
  margin: 5px 20px 0 0;
  cursor: pointer;
}

.detail {
  margin: 2px 0;
  gap: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.summary {
  padding: 0 3%;
  text-align: justify;
}

.comment-section {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  margin: 2%;
}

.form button {
  height: 40px;
  color: black;
  border: 1px solid #ffe400;
  outline: 1px solid #ffe400;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
}

.form button:hover {
  background-color: #ffe400;
  outline: none;
  border: none;
}

#submit {
  width: 100%;
  margin-bottom: 10px;
}

input {
  color: #1e2c36;
  font-size: large;
  padding: 1%;
  border-radius: 5px;
}

input:focus {
  outline: 1px solid #ffe400;
  border: 1px solid #ffe400;
}

textarea {
  color: #1e2c36;
  font-size: large;
  padding: 1%;
  border-radius: 5px;
}

textarea:focus {
  outline: 1px solid #ffe400;
  border: 1px solid #ffe400;
}

.popup-countainer .title {
  color: #ffe400;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.detail .language {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.summary h4 {
  color: #ffe400;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.summary p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.comment-section h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.comment-section h3 span {
  color: #ffe400;
}

.commentList li {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.comment-section h4 {
  color: #ffe400;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

/* end popup */


/* start footer style */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #000;
  padding: 40px 100px;
}

#logo-footer {
  height: 60px;
  width: 120px;
}

.foot-desc {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3;
  user-select: none;
}

.foot-desc:hover {
  color: #ffe400;
}

/* footer style end */

/* movie counter start */

.movie-counter {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  padding-left: 100px;
}

.movie-result {
  color: #ffe400;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.movie-result span {
  color: white;
}
