@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111111;
  height: auto;
}

.container {
  width: 85%;
  height: inherit;
  margin: 0 auto;
}

header {
  height: 65px; 
  background: #000; 
  margin-bottom: 25px; 
  position: relative; 
  z-index: 99
}

header .container .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo{
  height: 100px;
  width: 100px;
}

header .container .navbar .logo .logo-link {
  text-decoration: none;
}

header .container .navbar .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: auto;
}

.nav-item-link{
  font-size: 20px;
  padding-top: 50px;
  cursor: pointer;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  transition: 0.3;
  
}
.nav-item-link:hover{
  color: #FFE400;
}
.nav-item-link::before{
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #FFE400;
  width: 0;
  transition: width 0.3s ease-in-out;

}
.nav-item-link:hover::before {
  width: 100%;
  
}

.search input {
  padding: 10px;
  border-radius: 8px;
  background-color: #111111;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.search input::placeholder{
  color: white;
}

header .container .navbar .search input:focus-visible {
  border: 1px solid #FFE400;
  outline: 1px solid #FFE400;;
}
/* main style start */

main{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.movie-container{
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.card{
  height: 270px;
  width: 190px;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  transition: 0.3s;
  
}
.card:hover{
  box-shadow: rgba(250, 253, 47, 0.35) 5px 20px 30px;
  
}
#play{
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  display: none;
}

.card-image-container{
  height: 70%;
  width: 100%;
  position: relative;
}

.card-image{
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition: 0.3;
}
.card-image-container:hover #play{
  display: block;
}
.card-image:hover{
  opacity: 0.4;
}

.card-content{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
}
.card-button{
  height: 15%;
  width: 100%;
  background-color: #FFE400;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
  cursor: pointer;
  font-size: 17px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card-button:hover{
  color: #FFE400;
  background-color: white;
  border: 0.4px solid #FFE400;
  
}
.movie-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.3s;
}
.movie-title:hover{
  color: #FFE400;
}
.like-stat{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.3s;
}
.like-stat:hover{
  color: #FFE400;
}
#like{
  height: 17px;
  width: 17px;
}

/* start footer style */

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #000000;
  
}

#logo-footer{
  height: 100%;
  width: 120px;
}
.foot-desc{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
/* footer style end */