@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111111;
}

.container {
  width: 85%;
  height: inherit;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid hsl(330, 100%, 71%);
}

header .container .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
}

#logo{
  height: 100px;
  width: 100px;
}

header .container .navbar .logo .logo-link {
  text-decoration: none;
}

header .container .navbar .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: inherit;
}

header .container .navbar .nav-list .nav-item {
  font-size: 24px;
  padding: 20px;
  cursor: pointer;
}

header .container .navbar .nav-list .nav-item:hover {
  border-bottom: 4px solid hsl(84, 100%, 59%);
  box-shadow: -2px -2px 4px 5px hsla(84, 94%, 58%, 0.679);
  border-radius: 4px;
}

header .container .navbar .search input {
  width: 250px;
  height: 75px;
  border: 2px solid hsl(84, 100%, 59%);
  padding: 10px;
  border-radius: 8px;
  font: 24px sans-serif;
}

header .container .navbar .search input:focus-visible {
  border: none;
}
/* main style start */

main{
  width: 100%;
}
.movie-container{
  height: 100%;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card{
  height: 270px;
  width: 190px;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  transition: 0.3s;
  
}
.card:hover{
  box-shadow: rgba(250, 253, 47, 0.35) 5px 20px 30px;
  
}
.card-image{
  height: 70%;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card-content{
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
}
.card-button{
  height: 15%;
  width: 100%;
  background-color: #FFE400;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: black;
  cursor: pointer;
  font-size: 17px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.card-button:hover{
  color: #FFE400;
  background-color: white;
  border: 0.4px solid #FFE400;
  
}
.movie-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.3s;
}
.movie-title:hover{
  color: #FFE400;
}
.like-stat{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  transition: 0.3s;
}
.like-stat:hover{
  color: #FFE400;
}
#like{
  height: 17px;
  width: 17px;
}

/* start footer style */

footer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #000000;
  
}

#logo-footer{
  height: 100%;
  width: 120px;
}
.foot-desc{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}
/* footer style end */