* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  height: inherit;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid hsl(330, 100%, 71%);
}

header .container .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
}

header .container .navbar .logo .logo-link {
  text-decoration: none;
}

header .container .navbar .nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: inherit;
}

header .container .navbar .nav-list .nav-item {
  font-size: 24px;
  padding: 20px;
  cursor: pointer;
}

header .container .navbar .nav-list .nav-item:hover {
  border-bottom: 4px solid hsl(84, 100%, 59%);
  box-shadow: -2px -2px 4px 5px hsla(84, 94%, 58%, 0.679);
  border-radius: 4px;
}

header .container .navbar .search input {
  width: 250px;
  height: 75px;
  border: 2px solid hsl(84, 100%, 59%);
  padding: 10px;
  border-radius: 8px;
  font: 24px sans-serif;
}

header .container .navbar .search input:focus-visible {
  border: none;
}
